<section class="stats">
    <div class="stats-item">
        <p class="stats-value">{{bookPublishedCount}}</p>
        <h2 class="stats-title">Books Published</h2>
    </div>
    <div class="stats-item">
        <p class="stats-value">{{bookSoldCount}}</p>
        <h2 class="stats-title">Books Sold</h2>
    </div>
    <div class="stats-item">
        <p class="stats-value">{{totalPagesCount}}</p>
        <h2 class="stats-title">Total Pages</h2>
    </div>
    <div class="stats-item">
        <p class="stats-value">{{subscriberCount}}</p>
        <h2 class="stats-title">Total Subscriber</h2>
    </div>
</section>