<header class="header">
    <div class="header-content">
        <div class="header-title">
            <h1 class="title">Publish Me</h1>
            <p class="description">Book Store App</p>
        </div>
        <div class="search">
            <form class="search-form">
                <input type="text" name="" id="search" class="search-input" placeholder="Search">
                <button class="search-button">
                    <fa-icon [icon]="faSearch"></fa-icon>
                </button>
            </form>
        </div>
        <div class="social-media-icons">
            <span class="social-media-icon"><fa-icon [icon]="faFacebook" class="icon"></fa-icon></span>
            <span class="social-media-icon"><fa-icon [icon]="faTwitter" class="icon"></fa-icon></span>
            <span class="social-media-icon"><fa-icon [icon]="faInstagram" class="icon"></fa-icon></span>
        </div>
    </div>
    <nav class="main-nav">
        <button type="button" class="nav-collapse-button" (click)="toggleNavCollapse()"><fa-icon [icon]="faBars" class="icon"></fa-icon> Menu</button>
        <div class="nav-collapse" [ngClass]="{'show': showNav}">
            <ul class="nav-links">
                <li><a routerLink="/" class="link">Home</a><hr></li>
                <li><a routerLink="/about" class="link" (click)="toggleNavCollapse()">About</a><hr></li>
                <li><a routerLink="/books" class="link" (click)="toggleNavCollapse()">Books</a><hr></li>
                <li><a routerLink="/authors" class="link" (click)="toggleNavCollapse()">Author</a><hr></li>
                <li><a routerLink="/blogs" class="link" (click)="toggleNavCollapse()">Blog</a><hr></li>
                <li><a routerLink="/contact-us" class="link" (click)="toggleNavCollapse()">Contact</a><hr></li>
                <li><a routerLink="/signup" class="link" (click)="toggleNavCollapse()">Sign Up</a><hr></li>
            </ul>
        </div>
    </nav>
</header>