<div class="authors">
    <app-introduction-header title="Authors"></app-introduction-header>

    <app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>

    <section class="author-section">
        <app-modal *ngIf="modalType && modalMessage && !isLoading" [modalType]="modalType" [message]="modalMessage"></app-modal>
        
        <h2 class="author-title" *ngIf="!authors || authors.length == 0">No Author</h2>

        <div class="search-menu">
            <label for="searchText" class="search-label">Search</label>
            <input type="text" class="search-text" id="searchText" name="searchText" placeholder="Search" #searchText>
            <button type="button" class="search-button" (click)="onSearch(searchText.value)">
                <fa-icon [icon]="faSearch" class="icon"></fa-icon>
            </button>
        </div>

        <div class="author-list" *ngIf="authors && authors.length > 0">
            <div class="author" *ngFor="let author of authors">
                <div class="image-container">
                    <img [src]="author.imagePath" alt="" class="author-image">
                    <div class="social-media-icons">
                        <span class="social-media-icon"><fa-icon [icon]="faFacebook" class="icon"></fa-icon></span>
                        <span class="social-media-icon"><fa-icon [icon]="faInstagram" class="icon"></fa-icon></span>
                        <span class="social-media-icon"><fa-icon [icon]="faTwitter" class="icon"></fa-icon></span>
                        <span class="social-media-icon"><fa-icon [icon]="faGoogle" class="icon"></fa-icon></span>
                    </div>
                </div>
                <div class="author-details">
                    <h3 class="author-name">{{author.name}}</h3>
                    <p class="author-description">{{author.description}}</p>
                    <a href="#" class="view-books-button">View Books</a>
                </div>
            </div>
        </div>

        <div class="indicators">
            <button type="button" class="previous-button" [disabled]="currentPage == 1"
            [ngStyle]="currentPage == 1 ? {'background-color': 'gray'} : {}"
            (click)="onPrevious(searchText.value)">Prev</button>

            <button type="button" class="next-button" [disabled]="currentPage >= lastPage"
            [ngStyle]="currentPage >= lastPage ? {'background-color': 'gray'} : {}"
            (click)="onNext(searchText.value)">Next</button>
        </div>
    </section>
</div>