<div class="login">
    <app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>

    <section class="login-section">
        <app-modal *ngIf="modalType && modalMessage && !isLoading" [modalType]="modalType" [message]="modalMessage"></app-modal>

        <h1 class="login-title">Login</h1>

        <form action="" class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-control-group">
                <label for="email" class="form-label">Email</label>
                <input class="form-control" type="email" name="email" id="email" placeholder="Email" formControlName="email">
                <div class="error-list" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                    <span class="error-message" *ngIf="email?.errors?.required">Email is required</span>
                    <span class="error-message" *ngIf="email?.errors?.email">Email is not valid</span>
                </div>
            </div>
            <div class="form-control-group">
                <label for="password" class="form-label">Password</label>
                <input class="form-control" type="password" name="password" id="password" placeholder="Password" 
                formControlName="password">
                <div class="error-list" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                    <span class="error-message" *ngIf="password?.errors?.required">Password is required</span>
                    <span class="error-message" *ngIf="password?.errors?.maxlength">Password max length is 150</span>
                    <span class="error-message" *ngIf="password?.errors?.minlength">Password min length is 2</span>
                </div>
            </div>

            <input type="submit" value="Login" class="submit-button" [disabled]="!loginForm.valid" 
            [ngStyle]="!loginForm.valid ? {'backgroundColor': 'gray'} : {}">
        </form>
    </section>
</div>