.contact-us {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.contact-details {
    padding: 4rem 1rem;
    background-color: rgb(218, 218, 218);
}

.contact-item {
    margin-bottom: 1.5rem;
}

.contact-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    margin: 0 auto;
    background-color: gray;
    color: white;
    margin-bottom: 1rem;
}

.contact-icon .icon {
    font-size: 1.5rem;
}

.contact-item-description {
    text-align: center;
}

.contact-item-description span {
    font-weight: bold;
}

.contact-message {
    padding: 1rem;
    background-color: rgb(218, 218, 218);
}

.contact-form {
    background-color: white;
    padding: 2rem 1rem;
}

.contact-us-title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.form-control-group {
    margin-bottom: 1rem;
}

.form-label {
    display: block;
    color: gray;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.25rem;
    padding-bottom: 0.75rem;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 0.9rem;
}

.form-control:focus {
    outline: none;
    border-bottom: 1px solid #35678F;
}

textarea.form-control {
    height: 4rem;
}

.error-message {
    color: #DB605C;
}

.submit-button {
    display: block;
    text-decoration: none;
    padding: 0.75rem;
    background-color: #DB605C;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.map {
    width: 100%;
    height: 100%;
}

@media(min-width: 768px) {
    .contact-details {
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        column-gap: 1rem;
        justify-content: center;
    }

    .contact-message {
        display: grid;
        grid-template-columns: 30% 60%;
        justify-content: center;
    }

    .location {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .contact-form {
        grid-column-start: 2;
        grid-row-start: 1;
    }
}