<section class="author">
    <h1 class="no-author-title" *ngIf="!author">Author not found</h1>

    <div class="author-card" *ngIf="author">
        <div class="author-info">
            <div class="image-container">
                <img [src]="author.imagePath" alt="" class="author-image">
            </div>
            <div class="author-details">
                <h2 class="author-name">{{author.name}}</h2>
                <p class="author-description">{{author.description}}</p>
            </div>
            <div class="menu">
                <a [routerLink]="['/admin', 'edit-author', author._id]" class="edit-button">Edit</a>
                <button type="button" class="delete-button" (click)="onDelete(author._id)">Delete</button>
            </div>
        </div>
        <div class="author-books">
            <!-- TODO get books of author -->
            <h2 class="author-books-title">List of Author's Books</h2>
            <ul class="book-list">
                <li><a href="#" class="book-link">Book 1</a></li>
                <li><a href="#" class="book-link">Book 2</a></li>
                <li><a href="#" class="book-link">Book 3</a></li>
            </ul>
        </div>
    </div>
</section>