<div class="about">
    <app-introduction-header title="About"></app-introduction-header>

    <section class="about-section">
        <h2 class="about-section-title">Welcome to Publish Me</h2>
        <p class="about-section-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ipsum magni. Est nobis cum qui quidem reprehenderit, nam voluptas aperiam cumque nostrum quam cupiditate omnis, hic debitis facilis. Eos, nihil.</p>
        <div class="quotes">
            <span class="quotes-icon"><fa-icon [icon]="faQuoteLeft" class="icon"></fa-icon></span>
            <blockquote class="quotes-text">Many people, myself among them, feel better at the mere sight of a book.</blockquote>
        </div>
        <p class="about-section-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ipsum magni. Est nobis cum qui quidem reprehenderit, nam voluptas aperiam cumque nostrum quam cupiditate omnis, hic debitis facilis. Eos, nihil.</p>
    </section>

    <app-welcome-by-author></app-welcome-by-author>

    <app-testimonials></app-testimonials>

    <app-stats></app-stats>
</div>