<div class="admin-portal">
    <div class="admin-portal-login">
        <h1 class="admin-portal-title">Publish Me</h1>
        <form action="" class="login-form">
            <div class="form-control-group">
                <input type="email" class="form-control" placeholder="Email" />
            </div>
            <div class="form-control-group">
                <input type="password" class="form-control" placeholder="Password" />
            </div>

            <input type="submit" value="Login" class="submit-button">
        </form>
    </div>
</div>