<header class="admin-header">
    <nav class="main-nav">
        <button type="button" class="nav-collapse-button" (click)="toggleNavCollapse()"><fa-icon [icon]="faBars" class="icon"></fa-icon></button>
        <div class="nav-collapse">
            <ul class="link-list" [ngClass]="showNav ? 'show' : ''">
                <li>
                    <a routerLink="/admin" class="link" (click)="toggleNavCollapse()">
                        <span class="link-icon"><fa-icon [icon]="faRocket"></fa-icon></span> Dashboard
                    </a>
                </li>
                <li>
                    <a routerLink="/admin/authors" class="link" (click)="toggleNavCollapse()">
                        <span class="link-icon"><fa-icon [icon]="faUserEdit"></fa-icon></span> Authors
                    </a>
                </li>
                <li>
                    <a routerLink="/admin/books" class="link" (click)="toggleNavCollapse()">
                        <span class="link-icon"><fa-icon [icon]="faUserEdit"></fa-icon></span> Books
                    </a>
                </li>
                <li>
                    <a href="#" class="link" (click)="toggleNavCollapse()">
                        <span class="link-icon"><fa-icon [icon]="faBookOpen"></fa-icon></span> Books for Sale
                    </a>
                </li>
                <li>
                    <a href="#" class="link" (click)="toggleNavCollapse()">
                        <span class="link-icon"><fa-icon [icon]="faEnvelope"></fa-icon></span> Messages
                    </a>
                </li>
                <li>
                    <a href="#" class="link" (click)="toggleNavCollapse()">
                        <span class="link-icon"><fa-icon [icon]="faMoneyCheck"></fa-icon></span> Sales
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <h1 class="title">Publish Me</h1>
    <div class="user-details">
        <button type="button" class="user-details-collapse-button" (click)="toggleUserDetails()">
            <fa-icon [icon]="faEllipsisV" class="icon"></fa-icon>
        </button>
        <div class="user-details-collapse" [ngClass]="showUserDetails ? 'show' : ''">
            <img src="../../../assets/images/author-2.jpg" alt="" class="user-avatar">
            <h2 class="user-name">{{user.name}}</h2>
            <button type="button" class="logout-button" (click)="onLogout()">Logout</button>
        </div>
    </div>
</header>