.header {
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    background-color: #D8DB72;
}

.header-content {
    padding: 1rem;
}

.header-title {
    padding-bottom: 1.5rem;
}

.title,
.description {
    text-align: center;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
}

.description {
    color: #35678F;
}

.search {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: right;
}

.search-input {
    display: block;
    border: none;
    padding: 0.5rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: none;
    font-size: 0.75rem;
    height: 2.5rem;
}

.search-input:focus {
    outline: none;
}

.search-button {
    display: block;
    padding: 0.5rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(73, 73, 73);
    border: none;
    color: white;
    height: 2.5rem;
}

.social-media-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    border-radius: 50%;
    color: white;
    background-color: black;
}

.main-nav {
    background-color: black;
    padding: 0.5rem;
}

.nav-collapse {
    height: 0;
    overflow: hidden;
    transition: all 1s;
}

.nav-collapse.show {
    height: 100vh;
}

.nav-collapse-button {
    display: block;
    background-color: transparent;
    color: white;
    border: none;
    padding: 0.25rem;
}

.nav-links {
    list-style: none;
}

.nav-links hr {
    height: 2px;
    border-width: 0; 
    color: gray;
    background-color: gray;
}

.link {
    display: block;
    padding: 0.5rem 0;
    text-decoration: none;
    color: white;
}

.user-details {
    display: flex;
    align-items: center;
}

.login-user-name {
    color: #4699DB;
    display: block;
    margin-right: 0.25rem;
}

.logout-button {
    display: block;
    padding: 0.25rem;
    text-align: center;
    background-color: #DB605C;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

@media(min-width: 768px) {
    .search-input {
        width: 24rem;
    }
}

@media(min-width: 992px) {
    .header-content {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }

    .header-title {
        grid-column-start: 2;
    }

    .search {
        justify-content: flex-end;
    }

    .search-input {
        width: 14rem;
        grid-column-start: 3;
    }

    .social-media-icons {
        grid-column-start: 1;
        grid-row-start: 1;
        justify-content: flex-start;
    }

    .nav-collapse,
    .nav-collapse.show {
        height: auto;
        transition: none;
    }

    .nav-collapse-button { 
        display: none;
    }

    .nav-links {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-links hr {
        width: 0;
    }

    @keyframes linkHover {
        0% {
            width: 0;
        }

        100% {
            width: 100%;
        }
    }

    .link:hover + hr {
        animation-name: linkHover;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    .link {
        padding: 0.5rem 1rem;
    }

    .link:hover {
        color: gray;
    }
}