<div class="books">
    <app-introduction-header title="Books"></app-introduction-header>
    
    <div class="genre">
        <label for="">Select book genre: </label>
        <select name="" id="" class="genre-dropdown">
            <option value="all" selected>All</option>
            <option value="educational">Educational</option>
            <option value="children-book">Children Book</option>
            <option value="romance">Romance</option>
            <option value="art">Art</option>
            <option value="history">History</option>
            <option value="cooking">Cooking</option>
            <option value="cooking">Lifestyle</option>
        </select>
    </div>

    <div class="book-list">
        <div class="book" *ngFor="let book of books">
            <div class="book-cover-container">
                <img src="{{'../../assets/images/' + book.bookCover}}" alt="" class="book-cover">
            </div>
            <div class="book-details">
                <p class="book-price">$ {{book.price}}</p>
                <h2 class="book-title">{{book.title}}</h2>
                <h3 class="book-author">By {{book.author}}</h3>
            </div>
            <div class="menu">
                <button class="menu-button"><fa-icon [icon]="faShoppingCart" class="icon"></fa-icon></button>
                <a href="" class="menu-button"><fa-icon [icon]="faSearch" class="icon"></fa-icon></a>
            </div>
        </div>
    </div>
    <div class="indicator">
        <button type="button" class="indicator-button active">1</button>
        <button type="button" class="indicator-button">2</button>
        <button type="button" class="indicator-button">3</button>
    </div>
</div>