<div class="admin-page">
    <section class="stats">
        <div class="stats-item">
            <span class="stats-icon"><fa-icon [icon]="faBook" class="icon"></fa-icon></span>
            <p class="stats-value">1400</p>
            <h2 class="stats-title">Books Published</h2>
        </div>
        <div class="stats-item">
            <span class="stats-icon"><fa-icon [icon]="faMoneyCheck" class="icon"></fa-icon></span>
            <p class="stats-value">1400</p>
            <h2 class="stats-title">Books Sold</h2>
        </div>
        <div class="stats-item">
            <span class="stats-icon"><fa-icon [icon]="faUsers" class="icon"></fa-icon></span>
            <p class="stats-value">1400</p>
            <h2 class="stats-title">Users</h2>
        </div>
        <div class="stats-item">
            <span class="stats-icon"><fa-icon [icon]="faUserEdit" class="icon"></fa-icon></span>
            <p class="stats-value">1400</p>
            <h2 class="stats-title">Author</h2>
        </div>
    </section>
</div>