<div class="home">
    <section class="introduction-content">
        <h1 class="introduction-title">Many people, myself among them, feel better at the mere sight of a book</h1>
        <p class="introduction-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <a href="#" class="view-books-button">View Books</a>
    </section>

    <section class="product">
        <div class="product-item">
            <div class="production-image-container">
                <div class="image-cover">
                    <img src="../../assets/images/education-book.png" alt="" class="product-image">
                </div>
            </div>
            <h2 class="product-title">Educational Book</h2>
            <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat tempore facere tenetur reprehenderit ipsum, odit consequatur repudiandae id alias!</p>
        </div>
        <div class="product-item">
            <div class="production-image-container">
                <img src="../../assets/images/children-book.png" alt="" class="product-image">
            </div>
            <h2 class="product-title">Children Book</h2>
            <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat tempore facere tenetur reprehenderit ipsum, odit consequatur repudiandae id alias!</p>
        </div>
        <div class="product-item">
            <div class="production-image-container">
                <img src="../../assets/images/romance-book.png" alt="" class="product-image">
            </div>
            <h2 class="product-title">Romance Book</h2>
            <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat tempore facere tenetur reprehenderit ipsum, odit consequatur repudiandae id alias!</p>
        </div>
        <div class="product-item">
            <div class="production-image-container">
                <img src="../../assets/images/art-book.png" alt="" class="product-image">
            </div>
            <h2 class="product-title">Art Book</h2>
            <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat tempore facere tenetur reprehenderit ipsum, odit consequatur repudiandae id alias!</p>
        </div>
    </section>

    <section class="stats">
        <div class="stats-item">
            <p class="stats-value">{{bookPublishedCount}}</p>
            <h2 class="stats-title">Books Published</h2>
        </div>
        <div class="stats-item">
            <p class="stats-value">{{bookSoldCount}}</p>
            <h2 class="stats-title">Books Sold</h2>
        </div>
        <div class="stats-item">
            <p class="stats-value">{{totalPagesCount}}</p>
            <h2 class="stats-title">Total Pages</h2>
        </div>
        <div class="stats-item">
            <p class="stats-value">{{subscriberCount}}</p>
            <h2 class="stats-title">Total Subscriber</h2>
        </div>
    </section>

    <section class="welcome"></section>
</div>
