<div class="home">
    <section class="introduction-content">
        <h1 class="introduction-title">Many people, myself among them, feel better at the mere sight of a book</h1>
        <p class="introduction-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <a href="#" class="view-books-button">View Books</a>
    </section>

    <section class="product">
        <div class="product-item">
            <div class="production-image-container">
                <div class="image-cover">
                    <img src="../../assets/images/education-book.png" alt="" class="product-image">
                </div>
            </div>
            <h2 class="product-title">Educational Book</h2>
            <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat tempore facere tenetur reprehenderit ipsum, odit consequatur repudiandae id alias!</p>
        </div>
        <div class="product-item">
            <div class="production-image-container">
                <img src="../../assets/images/children-book.png" alt="" class="product-image">
            </div>
            <h2 class="product-title">Children Book</h2>
            <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat tempore facere tenetur reprehenderit ipsum, odit consequatur repudiandae id alias!</p>
        </div>
        <div class="product-item">
            <div class="production-image-container">
                <img src="../../assets/images/romance-book.png" alt="" class="product-image">
            </div>
            <h2 class="product-title">Romance Book</h2>
            <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat tempore facere tenetur reprehenderit ipsum, odit consequatur repudiandae id alias!</p>
        </div>
        <div class="product-item">
            <div class="production-image-container">
                <img src="../../assets/images/art-book.png" alt="" class="product-image">
            </div>
            <h2 class="product-title">Art Book</h2>
            <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat tempore facere tenetur reprehenderit ipsum, odit consequatur repudiandae id alias!</p>
        </div>
    </section>

    <section class="stats">
        <div class="stats-item">
            <p class="stats-value">{{bookPublishedCount}}</p>
            <h2 class="stats-title">Books Published</h2>
        </div>
        <div class="stats-item">
            <p class="stats-value">{{bookSoldCount}}</p>
            <h2 class="stats-title">Books Sold</h2>
        </div>
        <div class="stats-item">
            <p class="stats-value">{{totalPagesCount}}</p>
            <h2 class="stats-title">Total Pages</h2>
        </div>
        <div class="stats-item">
            <p class="stats-value">{{subscriberCount}}</p>
            <h2 class="stats-title">Total Subscriber</h2>
        </div>
    </section>

    <app-welcome-by-author></app-welcome-by-author>
    
    <section class="latest-release">
        <h2 class="books-title" *ngIf="!latestBooks || latestBooks.length == 0">No books</h2>
        <p class="latest-releases-intro">Books</p>
        <h2 class="books-title" *ngIf="latestBooks && latestBooks.length > 0">Latest Releases</h2>
        <div class="books" *ngIf="latestBooks && latestBooks.length > 0">
            <div class="book" *ngFor="let book of latestBooks">
                <div class="book-cover-container">
                    <img src="{{'../../assets/images/' + book.bookCover}}" alt="" class="book-cover">
                </div>
                <div class="book-details">
                    <p class="book-price">$ {{book.price}}</p>
                    <h2 class="book-title">{{book.title}}</h2>
                    <h3 class="book-author">By {{book.author}}</h3>
                </div>
                <div class="menu">
                    <button class="menu-button"><fa-icon [icon]="faShoppingCart" class="icon"></fa-icon></button>
                    <a href="" class="menu-button"><fa-icon [icon]="faSearch" class="icon"></fa-icon></a>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonials">
        <p class="testimonials-intro">Testimonial</p>
        <h2 class="testimonials-title">Words from Our Readers</h2>
        <div class="testimonial-list">
            <div class="testimonial" style="left: 0%;">
                <p class="testimonial-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat quisquam repellat</p>
                <div class="customer">
                    <div class="customer-avatar-container">
                        <img src="../../assets/images/reader-avatar.jpg" alt="" class="customer-avatar">
                    </div>
                    <div class="customer-details">
                        <h3 class="customer-name">Daniel Maxy</h3>
                        <p class="customer-job">Photographer</p>
                    </div>
                </div>
            </div>
            <div class="testimonial" style="left: 100%;">
                <p class="testimonial-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat quisquam repellat</p>
                <div class="customer">
                    <div class="customer-avatar-container">
                        <img src="../../assets/images/reader-avatar-2.jpg" alt="" class="customer-avatar">
                    </div>
                    <div class="customer-details">
                        <h3 class="customer-name">Daniel Maxy</h3>
                        <p class="customer-job">Photographer</p>
                    </div>
                </div>
            </div>
            <div class="testimonial" style="left: 200%;">
                <p class="testimonial-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat quisquam repellat</p>
                <div class="customer">
                    <div class="customer-avatar-container">
                        <img src="../../assets/images/reader-avatar-3.jpg" alt="" class="customer-avatar">
                    </div>
                    <div class="customer-details">
                        <h3 class="customer-name">Daniel Maxy</h3>
                        <p class="customer-job">Photographer</p>
                    </div>
                </div>
            </div>
            <div class="testimonial" style="left: 300%;">
                <p class="testimonial-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat quisquam repellat</p>
                <div class="customer">
                    <div class="customer-avatar-container">
                        <img src="../../assets/images/reader-avatar-4.jpg" alt="" class="customer-avatar">
                    </div>
                    <div class="customer-details">
                        <h3 class="customer-name">Daniel Maxy</h3>
                        <p class="customer-job">Photographer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-indicator">
            <button type="button" class="indicator-button" (click)="moveIndex(0)" [ngClass]="testimonialIndex == 0 ? 'selected' : ''"></button>
            <button type="button" class="indicator-button" (click)="moveIndex(1)" [ngClass]="testimonialIndex == 1 ? 'selected' : ''"></button>
            <button type="button" class="indicator-button" (click)="moveIndex(2)" [ngClass]="testimonialIndex == 2 ? 'selected' : ''"></button>
            <button type="button" class="indicator-button" (click)="moveIndex(3)" [ngClass]="testimonialIndex == 3 ? 'selected' : ''"></button>
        </div>
    </section>

    <section class="recent-blogs">
        <p class="recent-blogs-intro">Blog</p>
        <h2 class="recent-blogs-title">Recent Blogs</h2>
        <div class="recent-blog-list">
            <div class="blog" *ngFor="let blog of recentBlogs">
                <div class="image-container">
                    <img src="{{'../../assets/images/' + blog.image}}" alt="" class="blog-image">
                </div>
                <div class="blog-date">
                    <span class="blog-day">{{blog.date.getDate()}}</span>
                    <span class="blog-month">{{blog.date.toLocaleString('default', { month: 'long' })}}</span>
                    <span class="blog-year">{{blog.date.getFullYear()}}</span>
                </div>
                <div class="blog-details">
                    <h2 class="blog-title">{{blog.title}}</h2>
                    <p class="blog-content">{{blog.content}}</p>
                </div>
            </div>
        </div>
    </section>
</div>
